<h1><%= @usuario.nome %> <%= @usuario.sobrenome %></h1>

<p>Nome: <%= @usuario.nome %></p><br>

<p>Sobrenome: <%= @usuario.sobrenome %></p><br>

<p>E-mail: <%= @usuario.email %></p><br>

<p>Telefone: <%= @usuario.telefone %></p><br>

<p>Data de Nascimento: <%= @usuario.data_nascimento %></p><br>

<%= link_to "Todos os Usurários", index_usuarios_path %>
<%= link_to "Editar", edit_usuario_path(id: @usuario.id) %>
<%= link_to "Excluir", destroy_usuario_path(id: @usuario.id), method: :delete  %>
