<%= form_with(model: post, local: true) do |form| %>

  <%= hidden_field_tag "post[usuario_id]", current_user.id %>

  <div class="field">
    <% if @post.errors.any? && @post.errors[:conteudo] %>
      <%= form.label "Conteúdo #{@post.errors[:conteudo].first}" %>
    <% else %>
      <%= form.label :conteudo %>
    <% end %>
    <%= form.text_field :conteudo, id: :post_conteudo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
